      <% if @error != nil%>
       <script>
              var toastHTML = '<span><%= @error%></span><button class="btn-flat toast-action">Undo</button>';
              M.toast({html: toastHTML});
          </script>
          <% end %>


<div class="container">
	<div class="row">
	<div class="section"></div>
   <main>
    <center>
     <div class="container">

<div class="section"></div>
    
               <%= form_tag url_for(action: "create"), class: "col s12",method: "post" do %>

          <h3>Login</h3>
            <div class='row'>
              <div class='input-field col s12'>
                <%= text_field_tag :email , "", type: "email" %>
                <label for='email'>Email</label>
              </div>
            </div>
            <div class='row'>
              <div class='input-field col m12'>
                <%= text_field_tag :password , "", type: "password" %>
                <label for='password'>Password</label>
              </div>
              <div class="input-field col s12 m6">
    <p>
      <label>
        <input type="checkbox" class="filled-in" checked="checked" />
        <span>Remember me</span>
      </label>
    </p>
  </div>
  <div class="input-field col s12 m6">
<p>
<label>
<a href="#">Forgot your password ?</a>
</label>
</p>
  </div>

            </div>
            <br/>

            <center>
              <div class='row'>
                <button style="margin-left:65px;"  type='submit' name='btn_login' class='col  s6 btn btn-small white black-text  waves-effect z-depth-1 y-depth-1'>Login</button>
              </div>
            </center>
     
        </div>
       </div>
      </center>
          <% end %>

      </main>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

	</div>
</div>